<div class="customer-edit">
    <div class="customer">
        <div class="item"> <i class="material-icons">face</i> {{customer.firstname}} {{customer.lastname}} </div>
        <div class="item"> <i class="material-icons">phone</i> {{customer.phone}} </div>
        <div class="item"> <i class="material-icons">email</i> {{customer.mail}}</div>
        <div class="item"> <i class="material-icons">location_on</i> {{customer.address?.number}} {{customer.address?.street}},  {{customer.address?.zipcode}} {{customer.address?.city}}</div>
    </div>
</div> 


